pandas==1.4.3
requests==2.28.1
jupyterlab==3.2.8     
jupyter_client==6.1.12
jupyter_core==4.10.0
jupyter_server==1.18.1
jupyterlab==3.2.8
jupyterlab_pygments==0.2.2
jupyterlab_server==2.15.0
jupyterlab_widgets==1.1.1
scikit-learn==1.0
notebook==6.4.5
matplotlib==3.4.3
ipympl==0.8.7